.row {
  margin: 0; }

button {
  cursor: pointer; }

.button-white {
  border: solid 2px #323232;
  background: white;
  padding: 5px 20px;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 1em;
  color: #323232;
  transition: all .3s ease; }
  .button-white:hover, .button-whitefocus {
    color: white;
    border: solid 2px #ff4040;
    background: #ff4040; }
  @media screen and (min-width: 62rem) {
    .button-white {
      font-size: 1.25em; } }

.button-black {
  border: solid 2px #323232;
  background: #323232;
  padding: 5px 20px;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 1em;
  color: white;
  transition: all .3s ease; }
  .button-black:hover, .button-blackfocus {
    color: #323232;
    border: solid 2px #323232;
    background: white; }
  @media screen and (min-width: 62rem) {
    .button-black {
      font-size: 1.25em; } }

.global-hr {
  width: 90%;
  border-top: solid 1px #323232;
  margin: 30px auto; }
  @media screen and (min-width: 62rem) {
    .global-hr {
      margin-bottom: 20px; } }

.header-bar-container {
  height: 60px;
  background: transparent;
  position: fixed;
  z-index: 10;
  transition: all 0.3s ease; }
  .header-bar-container.white-nav {
    background: white;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.15); }
  @media screen and (min-width: 62rem) {
    .header-bar-container {
      height: 80px;
      padding: 25px 0;
      text-align: center; } }

.burger-button-wrap {
  height: 60px;
  position: relative; }

.burger-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%); }
  .burger-button div:last-child {
    margin-bottom: 0; }

.burger {
  width: 27px;
  height: 3px;
  background: #323232;
  margin-bottom: 5px; }

body.no-scroll {
  overflow: hidden; }

.main-nav-overlay {
  position: fixed;
  z-index: 100;
  width: 80%;
  height: 100vh;
  background: #ff4040;
  right: -100%; }
  .main-nav-overlay::after {
    content: "";
    width: 80%;
    height: 100vh;
    background: rgba(255, 64, 64, 0);
    top: 0;
    left: 0;
    display: block;
    position: absolute;
    z-index: -1;
    transition: all .3s ease; }
  .main-nav-overlay .close-button {
    margin: 10% 15px;
    padding: 0;
    border: 0;
    background: transparent;
    display: block; }
  .main-nav-overlay .burger {
    background: white;
    margin: 0;
    transform-origin: center; }
  .main-nav-overlay .top {
    transform: rotate(45deg);
    margin-bottom: -2.5px; }
  .main-nav-overlay .bot {
    transform: rotate(-45deg); }
  .main-nav-overlay nav {
    opacity: 0;
    margin: -10px 0 0 0;
    padding-left: 55px; }
    .main-nav-overlay nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0; }
      .main-nav-overlay nav ul h2 {
        font-family: 'Rozha One', serif;
        font-size: 1.5em; }
      .main-nav-overlay nav ul li {
        margin-bottom: 10px; }
        .main-nav-overlay nav ul li a {
          font-family: 'Didact Gothic', sans-serif;
          font-size: 1em;
          text-decoration: none;
          color: white; }
      .main-nav-overlay nav ul span {
        color: white;
        font-size: 1.5em;
        margin-right: 15px; }

.main-nav-overlay.animation::after {
  top: 20px;
  left: -20px;
  background: rgba(255, 64, 64, 0.3); }

.desktop-nav nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .desktop-nav nav ul li {
    display: inline;
    margin: 0 30px; }
    .desktop-nav nav ul li a {
      font-family: 'Didact Gothic', sans-serif;
      font-size: 1.25em;
      text-decoration: none;
      color: #323232;
      position: relative; }
      .desktop-nav nav ul li a::before, .desktop-nav nav ul li a::after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        border-radius: 50%;
        transition: all .3s ease; }
      .desktop-nav nav ul li a:hover::before, .desktop-nav nav ul li a:focus::before {
        width: 50px;
        height: 50px;
        background: #ff4040;
        z-index: -2; }
      .desktop-nav nav ul li a:hover::after, .desktop-nav nav ul li a:focus::after {
        width: 35px;
        height: 35px;
        background: white;
        z-index: -1; }

.hero-banner-wrap {
  padding: 60px 0 0 0;
  margin-bottom: 50px; }
  @media screen and (min-width: 62rem) {
    .hero-banner-wrap {
      padding-top: 80px;
      margin-bottom: 50px;
      width: 100%; } }
  @media screen and (min-width: 75rem) {
    .hero-banner-wrap {
      padding-top: 0;
      width: 100%; } }

.video-wrap {
  padding: 0;
  position: relative; }
  .video-wrap::after {
    content: "";
    width: 100%;
    height: 100%;
    background: #ff4040;
    position: absolute;
    bottom: -5px;
    z-index: -1; }
  .video-wrap video {
    width: 100%; }
  .video-wrap button {
    position: absolute;
    right: 0;
    bottom: 6px;
    border: 0;
    padding: 0 7px;
    width: 60px;
    height: 60px;
    background: transparent;
    transition: all .3s ease; }
    .video-wrap button:hover, .video-wrap buttonfocus {
      background: rgba(0, 0, 0, 0.3);
      color: white; }
  @media screen and (min-width: 62rem) {
    .video-wrap::after {
      bottom: -10px;
      right: -15px; } }
  @media screen and (min-width: 75rem) {
    .video-wrap:after {
      right: 0; } }

.header-text {
  margin-bottom: 40px; }
  @media screen and (min-width: 62rem) {
    .header-text {
      margin: 60px auto; } }

.text-section {
  padding: 0;
  margin-bottom: 30px; }
  .text-section h2 {
    font-family: 'Rozha One', serif;
    margin-top: 15px; }
  .text-section p {
    font-family: 'Didact Gothic', sans-serif;
    color: #c04848;
    padding: 0;
    margin: 0; }
  @media screen and (min-width: 62rem) {
    .text-section h2 {
      font-size: 3em;
      margin-top: 15px; } }

.img-section {
  padding: 0;
  position: relative; }
  .img-section img {
    width: 180px;
    margin: 0 auto;
    display: block; }
  @media screen and (min-width: 62rem) {
    .img-section img {
      position: absolute;
      width: 380px;
      top: -180px;
      left: -30px; } }
  @media screen and (min-width: 75rem) {
    .img-section img {
      position: static;
      width: 320px; } }

.home-why-wrap {
  padding: 0;
  margin: 0; }

.home-why-pos {
  background: #ff4040;
  padding: 30px 15px; }
  .home-why-pos h2 {
    font-family: 'Rozha One', serif; }
  .home-why-pos p {
    font-family: 'Didact Gothic', sans-serif;
    color: white;
    margin-bottom: 40px; }
  .home-why-pos::after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(255, 64, 64, 0.3);
    top: 20px;
    left: 20px;
    display: block;
    position: absolute;
    z-index: -1;
    transition: all .3s ease; }
  @media screen and (min-width: 62rem) {
    .home-why-pos {
      padding: 60px 15px; }
      .home-why-pos h2 {
        font-size: 3em; }
      .home-why-pos p {
        margin-bottom: 60px; } }
  @media screen and (min-width: 75rem) {
    .home-why-pos:after {
      left: 0; } }

.home-why-text {
  text-align: right; }

.home-why-image {
  height: 160px; }
  .home-why-image img {
    width: 140px;
    position: absolute;
    top: -80px;
    left: -20px;
    z-index: 0; }
    @media screen and (min-width: 62rem) {
      .home-why-image img {
        width: 280px;
        top: -170px;
        left: 40px; } }
  @media screen and (min-width: 75rem) {
    .home-why-image {
      height: auto; }
      .home-why-image img {
        position: static;
        width: 180px; } }

.home-stories-wrap {
  padding: 60px 0 40px 0; }
  @media screen and (min-width: 62rem) {
    .home-stories-wrap {
      padding: 180px 0 120px 0; } }

.story-upper {
  background: url("../images/story2.jpg") no-repeat right;
  background-size: contain;
  height: 200px; }
  .story-upper::after {
    content: "";
    width: 300px;
    height: 10px;
    background: #ff4040;
    display: block;
    position: absolute;
    bottom: -8px;
    right: 0;
    z-index: -1; }
  .story-upper h2 {
    font-family: 'Rozha One', serif;
    margin: 30px 0 0 0; }
  .story-upper p {
    font-family: 'Didact Gothic', sans-serif;
    width: 200px;
    color: #c04848; }
  @media screen and (min-width: 62rem) {
    .story-upper {
      background: url("../images/story2.jpg") no-repeat left;
      background-size: contain;
      height: 280px;
      padding: 0; }
      .story-upper h2 {
        font-size: 3em; }
      .story-upper::after {
        content: "";
        width: 300px;
        height: 10px;
        background: #ff4040;
        display: block;
        position: absolute;
        bottom: -8px;
        left: 120px;
        z-index: -1; } }
  @media screen and (min-width: 75rem) {
    .story-upper {
      height: 320px;
      padding-left: 15px; }
      .story-upper:after {
        width: 360px; } }
  @media screen and (min-width: 90rem) {
    .story-upper {
      height: 480px; }
      .story-upper:after {
        width: 600px; } }

.story-lower {
  height: 200px;
  margin-bottom: 10px;
  z-index: 0; }
  .story-lower img {
    height: 200px;
    position: absolute;
    top: -20px;
    left: -20px;
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.3); }
  @media screen and (min-width: 62rem) {
    .story-lower {
      height: 280px;
      margin-bottom: 30px; }
      .story-lower img {
        height: 280px;
        top: -60px;
        left: -100px; } }
  @media screen and (min-width: 75rem) {
    .story-lower {
      height: 320px;
      margin-bottom: 60px; }
      .story-lower img {
        height: 320px;
        left: -120px; } }
  @media screen and (min-width: 90rem) {
    .story-lower {
      height: 480px;
      margin-bottom: 60px; }
      .story-lower img {
        height: 480px;
        left: -180px; } }

.button-wrap {
  padding: 0 0 0 15px; }
  @media screen and (min-width: 62rem) {
    .button-wrap {
      padding: 0; } }

.get-involved-wrap {
  background: #ff4040;
  padding: 45px 15px; }
  .get-involved-wrap div {
    padding: 5px; }
  .get-involved-wrap h2 {
    font-family: 'Rozha One', serif;
    font-size: 2em; }
  .get-involved-wrap p {
    font-family: 'Didact Gothic', sans-serif;
    color: white;
    margin-bottom: 40px; }
  .get-involved-wrap .involved-img {
    padding: 0;
    position: relative; }
  .get-involved-wrap img {
    width: 100%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%); }
  @media screen and (min-width: 62rem) {
    .get-involved-wrap h2 {
      font-size: 3em; }
    .get-involved-wrap img {
      width: 120px; } }

.main-footer-wrap {
  background: #c04848;
  padding: 30px 0; }
  .main-footer-wrap footer {
    text-align: center; }
    .main-footer-wrap footer span {
      font-size: 0.75em; }
    .main-footer-wrap footer nav {
      text-align: left; }
      .main-footer-wrap footer nav ul {
        padding: 0;
        list-style-type: none; }
        .main-footer-wrap footer nav ul h2 {
          font-family: 'Rozha One', serif;
          font-size: 1.75em; }
        .main-footer-wrap footer nav ul li a {
          font-family: 'Didact Gothic', sans-serif;
          color: white;
          text-decoration: none; }
          .main-footer-wrap footer nav ul li a:hover, .main-footer-wrap footer nav ul li a:focus {
            color: #323232; }
  @media screen and (min-width: 62rem) {
    .main-footer-wrap {
      padding: 30px; }
      .main-footer-wrap div {
        padding: 0; }
      .main-footer-wrap .social-icons {
        display: inline;
        margin-right: 15px; }
        .main-footer-wrap .social-icons a {
          font-size: 1.5em; }
      .main-footer-wrap .follow-us {
        margin: 0; } }

.subForm {
  text-align: center; }
  .subForm h2 {
    font-family: 'Rozha One', serif; }
  .subForm p {
    font-family: 'Didact Gothic', sans-serif;
    color: white; }
  .subForm input {
    height: 30px;
    border: none;
    padding: 0 15px; }
  .subForm label {
    font-family: 'Didact Gothic', sans-serif;
    background: #323232;
    font-size: 1em;
    color: white;
    height: 30px;
    padding: 2px 15px;
    text-align: center; }
  @media screen and (min-width: 62rem) {
    .subForm {
      text-align: left; }
      .subForm h2 {
        font-size: 1.75em; } }

.whydonate-header-hero {
  padding: 90px 0 60px 0; }
  .whydonate-header-hero div:first-child h1 {
    font-family: 'Rozha One', serif;
    font-size: 2em; }
  .whydonate-header-hero div:first-child p {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 1em;
    color: #c04848; }
  .whydonate-header-hero div:last-child img {
    width: 80%;
    margin: 0 auto;
    display: block; }
  @media screen and (min-width: 62rem) {
    .whydonate-header-hero {
      padding: 160px 0 80px 0; }
      .whydonate-header-hero div:first-child h1 {
        font-size: 3em; }
      .whydonate-header-hero div:last-child {
        position: relative; }
        .whydonate-header-hero div:last-child img {
          width: 80%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateY(-50%) translateX(-50%); } }
  @media screen and (min-width: 75rem) {
    .whydonate-header-hero div:last-child img {
      width: 50%; } }

.whydonate-main-content {
  padding: 0;
  overflow: hidden; }

.upper-content-title {
  background: #ff4040;
  padding: 30px 15px; }
  .upper-content-title:after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(255, 64, 64, 0.3);
    top: 20px;
    left: 20px;
    display: block;
    position: absolute;
    z-index: -1; }
  .upper-content-title h2 {
    font-family: 'Rozha One', serif;
    font-size: 2em;
    margin: 0; }
  .upper-content-title button {
    margin-top: 30px; }
  @media screen and (min-width: 62rem) {
    .upper-content-title div:first-child {
      position: relative; }
    .upper-content-title img {
      width: 60%;
      position: absolute;
      top: 30px;
      left: -30px; } }
  @media screen and (min-width: 75rem) {
    .upper-content-title {
      height: 300px;
      margin-top: 120px; }
      .upper-content-title img {
        width: 40%;
        left: 160px; } }

.upper-content-text {
  margin-top: 60px;
  margin-bottom: 30px; }
  .upper-content-text p {
    font-family: 'Didact Gothic', sans-serif;
    color: #c04848; }
  @media screen and (min-width: 62em) {
    .upper-content-text {
      margin-bottom: 120px; } }

.stats-wrap {
  text-align: center;
  margin-bottom: 30px; }

.stats {
  width: 144px;
  height: 144px;
  background: #ff4040;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 15px;
  position: relative; }
  .stats span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    font-family: 'Rozha One', serif;
    font-size: 2em;
    color: white; }
  .stats:before {
    content: "";
    width: 124px;
    height: 124px;
    display: block;
    background: #ff4040;
    border: solid 1px white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%); }

.stats-desc span {
  font-family: 'Didact Gothic', sans-serif;
  color: #323232; }

.stats-img-wrap-upper {
  position: relative; }
  .stats-img-wrap-upper img {
    width: 220px;
    position: absolute;
    right: -50px; }

.stats-img-wrap-lower {
  position: relative; }
  .stats-img-wrap-lower img {
    width: 300px;
    position: absolute;
    left: -50px; }

.whydonate-desc {
  font-family: 'Didact Gothic', sans-serif;
  color: #c04848;
  border: solid 3px #ff4040;
  padding: 30px 15px;
  margin-bottom: 30px; }
  .whydonate-desc p {
    margin: 0; }
  .whydonate-desc:after {
    content: "";
    width: 100%;
    height: 100%;
    border: solid 1px #ff4040;
    position: absolute;
    z-index: -1;
    top: -15px;
    left: -10px; }
  @media screen and (min-width: 75rem) {
    .whydonate-desc {
      margin-top: 60px; } }

.story-section {
  padding: 0; }

.story-left,
.story-right {
  padding: 0; }
  .story-left:after,
  .story-right:after {
    content: "";
    width: 40%;
    height: 100%;
    background: #ff4040;
    top: 5px;
    right: 0;
    display: block;
    position: absolute;
    z-index: -1; }
  .story-left img,
  .story-right img {
    width: 100%; }

.story-left-desc,
.story-right-desc {
  margin-top: 30px;
  margin-bottom: 30px; }
  .story-left-desc h2,
  .story-right-desc h2 {
    font-family: 'Rozha One', serif; }
  .story-left-desc p,
  .story-right-desc p {
    font-family: 'Didact Gothic', sans-serif; }
  .story-left-desc .story-desc-wrap,
  .story-right-desc .story-desc-wrap {
    position: relative;
    background: #ff4040;
    padding: 15px; }
    .story-left-desc .story-desc-wrap:after,
    .story-right-desc .story-desc-wrap:after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background: rgba(255, 64, 64, 0.3);
      position: absolute;
      top: 15px;
      z-index: -1; }
  .story-left-desc p:last-child,
  .story-right-desc p:last-child {
    color: white; }

.story-left-desc .story-desc-wrap:after {
  left: 15px; }

.story-right-desc .story-desc-wrap:after {
  left: -15px; }

@media screen and (min-width: 62rem) {
  .story-left,
  .story-right {
    margin-bottom: 120px; }
    .story-left img,
    .story-right img {
      box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.3);
      position: relative;
      z-index: 3; }
    .story-left:after,
    .story-right:after {
      display: none; }
  .story-left-desc .story-desc-wrap {
    position: absolute;
    padding-left: 150px;
    width: 100%;
    left: -120px; }
  .story-right-desc h2,
  .story-right-desc p {
    text-align: right; }
  .story-right-desc .story-desc-wrap {
    position: absolute;
    padding-right: 150px;
    width: 100%;
    right: -120px; } }
