.row {
  margin: 0; }

.button-white {
  border: solid 2px #323232;
  background: white;
  padding: 5px 20px;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 1em;
  color: #323232;
  transition: all .3s ease; }
  .button-white:hover, .button-whitefocus {
    color: white;
    border: solid 2px #ff4040;
    background: #ff4040; }
  @media screen and (min-width: 62rem) {
    .button-white {
      font-size: 1.25em; } }

.button-black {
  border: solid 2px #323232;
  background: #323232;
  padding: 5px 20px;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 1em;
  color: white;
  transition: all .3s ease; }
  .button-black:hover, .button-blackfocus {
    color: #323232;
    border: solid 2px #323232;
    background: white; }
  @media screen and (min-width: 62rem) {
    .button-black {
      font-size: 1.25em; } }

.global-hr {
  width: 90%;
  border-top: solid 1px #323232;
  margin: 30px auto; }
  @media screen and (min-width: 62rem) {
    .global-hr {
      margin-bottom: 20px; } }

.header-bar-container {
  height: 60px;
  background: white;
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.15);
  position: fixed;
  z-index: 1; }
  @media screen and (min-width: 62rem) {
    .header-bar-container {
      height: 80px;
      padding: 25px 0;
      text-align: center; } }

.burger-button-wrap {
  height: 60px;
  position: relative; }

.burger-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%); }
  .burger-button div:last-child {
    margin-bottom: 0; }

.burger {
  width: 27px;
  height: 3px;
  background: #323232;
  margin-bottom: 5px; }

body.no-scroll {
  overflow: hidden; }

.main-nav-overlay {
  position: fixed;
  z-index: 100;
  width: 80%;
  height: 100vh;
  background: #ff4040;
  right: -100%; }
  .main-nav-overlay::after {
    content: "";
    width: 80%;
    height: 100vh;
    background: rgba(255, 64, 64, 0);
    top: 0;
    left: 0;
    display: block;
    position: absolute;
    z-index: -1;
    transition: all .3s ease; }
  .main-nav-overlay .close-button {
    margin: 10% 15px;
    padding: 0;
    border: 0;
    background: transparent;
    display: block; }
  .main-nav-overlay .burger {
    background: white;
    margin: 0;
    transform-origin: center; }
  .main-nav-overlay .top {
    transform: rotate(45deg);
    margin-bottom: -2.5px; }
  .main-nav-overlay .bot {
    transform: rotate(-45deg); }
  .main-nav-overlay nav {
    opacity: 0;
    margin: -10px 0 0 0;
    padding-left: 55px; }
    .main-nav-overlay nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0; }
      .main-nav-overlay nav ul h2 {
        font-family: 'Rozha One', serif;
        font-size: 1.5em; }
      .main-nav-overlay nav ul li {
        margin-bottom: 10px; }
        .main-nav-overlay nav ul li a {
          font-family: 'Didact Gothic', sans-serif;
          font-size: 1em;
          text-decoration: none;
          color: white; }
      .main-nav-overlay nav ul span {
        color: white;
        font-size: 1.5em;
        margin-right: 15px; }

.main-nav-overlay.animation::after {
  top: 20px;
  left: -20px;
  background: rgba(255, 64, 64, 0.3); }

.desktop-nav nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .desktop-nav nav ul li {
    display: inline;
    margin: 0 30px; }
    .desktop-nav nav ul li a {
      font-family: 'Didact Gothic', sans-serif;
      font-size: 1.25em;
      text-decoration: none;
      color: #323232;
      position: relative; }
      .desktop-nav nav ul li a::before, .desktop-nav nav ul li a::after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        border-radius: 50%;
        transition: all .3s ease; }
      .desktop-nav nav ul li a:hover::before, .desktop-nav nav ul li a:focus::before {
        width: 50px;
        height: 50px;
        background: #ff4040;
        z-index: -2; }
      .desktop-nav nav ul li a:hover::after, .desktop-nav nav ul li a:focus::after {
        width: 35px;
        height: 35px;
        background: white;
        z-index: -1; }

.hero-banner-wrap {
  padding: 60px 0 50px 0; }
  @media screen and (min-width: 62em) {
    .hero-banner-wrap {
      padding-top: 80px; } }

.video-wrap {
  padding: 0; }
  .video-wrap::after {
    content: "";
    width: 100%;
    height: 100%;
    background: #ff4040;
    position: absolute;
    bottom: -5px;
    z-index: -1; }
  @media screen and (min-width: 62em) {
    .video-wrap::after {
      background: #ff4040;
      bottom: -10px;
      right: -15px; } }
  .video-wrap video {
    width: 100%; }

.header-text {
  margin-bottom: 40px; }
  @media screen and (min-width: 62rem) {
    .header-text {
      margin: 60px auto; } }

.text-section {
  padding: 0;
  margin-bottom: 30px; }
  .text-section h2 {
    font-family: 'Rozha One', serif;
    margin-top: 15px; }
  .text-section p {
    font-family: 'Didact Gothic', sans-serif;
    color: #c04848;
    padding: 0;
    margin: 0; }
  @media screen and (min-width: 62rem) {
    .text-section h2 {
      font-size: 3em;
      margin-top: 15px; } }

.img-section {
  padding: 0;
  position: relative; }
  .img-section img {
    width: 180px;
    margin: 0 auto;
    display: block; }
  @media screen and (min-width: 62rem) {
    .img-section img {
      position: absolute;
      width: 380px;
      top: -180px;
      left: -30px; } }

.home-why-wrap {
  padding: 0;
  margin: 0; }

.home-why-pos {
  background: #ff4040;
  padding: 30px 15px; }
  .home-why-pos h2 {
    font-family: 'Rozha One', serif; }
  .home-why-pos p {
    font-family: 'Didact Gothic', sans-serif;
    color: white;
    margin-bottom: 40px; }
  .home-why-pos::after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(255, 64, 64, 0.3);
    top: 20px;
    left: 20px;
    display: block;
    position: absolute;
    z-index: -1;
    transition: all .3s ease; }
  @media screen and (min-width: 62rem) {
    .home-why-pos {
      padding: 60px 15px; }
      .home-why-pos h2 {
        font-size: 3em; }
      .home-why-pos p {
        margin-bottom: 60px; } }

.home-why-text {
  text-align: right; }

.home-why-image {
  height: 160px; }
  .home-why-image img {
    width: 140px;
    position: absolute;
    top: -80px;
    left: -20px;
    z-index: 0; }
    @media screen and (min-width: 62rem) {
      .home-why-image img {
        width: 280px;
        top: -170px;
        left: 40px; } }

.home-stories-wrap {
  padding: 60px 0 40px 0; }
  @media screen and (min-width: 62rem) {
    .home-stories-wrap {
      padding: 180px 0 120px 0; } }

.story-upper {
  background: url("../images/story2.jpg") no-repeat right;
  background-size: contain;
  height: 200px; }
  .story-upper::after {
    content: "";
    width: 300px;
    height: 10px;
    background: #ff4040;
    display: block;
    position: absolute;
    bottom: -8px;
    right: 0;
    z-index: -1; }
  .story-upper h2 {
    font-family: 'Rozha One', serif;
    margin: 30px 0 0 0; }
  .story-upper p {
    font-family: 'Didact Gothic', sans-serif;
    width: 200px;
    color: #c04848; }
  @media screen and (min-width: 62rem) {
    .story-upper {
      background: url("../images/story2.jpg") no-repeat left;
      background-size: contain;
      height: 280px;
      padding: 0; }
      .story-upper h2 {
        font-size: 3em; }
      .story-upper::after {
        content: "";
        width: 300px;
        height: 10px;
        background: #ff4040;
        display: block;
        position: absolute;
        bottom: -8px;
        left: 120px;
        z-index: -1; } }

.story-lower {
  height: 200px;
  margin-bottom: 10px;
  z-index: 0; }
  .story-lower img {
    height: 200px;
    position: absolute;
    top: -20px;
    left: -20px;
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.3); }
  @media screen and (min-width: 62rem) {
    .story-lower {
      height: 280px;
      margin-bottom: 30px; }
      .story-lower img {
        height: 280px;
        top: -60px;
        left: -100px; } }

.button-wrap {
  padding: 0; }

.get-involved-wrap {
  background: #ff4040;
  padding: 45px 15px; }
  .get-involved-wrap div {
    padding: 5px; }
  .get-involved-wrap h2 {
    font-family: 'Rozha One', serif;
    font-size: 2em; }
  .get-involved-wrap p {
    font-family: 'Didact Gothic', sans-serif;
    color: white;
    margin-bottom: 40px; }
  .get-involved-wrap .involved-img {
    padding: 0;
    position: relative; }
  .get-involved-wrap img {
    width: 100%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%); }
  @media screen and (min-width: 62rem) {
    .get-involved-wrap h2 {
      font-size: 3em; }
    .get-involved-wrap img {
      width: 120px; } }

.main-footer-wrap {
  background: #c04848;
  padding: 30px 0; }
  .main-footer-wrap footer {
    text-align: center; }
    .main-footer-wrap footer span {
      font-size: 0.75em; }
    .main-footer-wrap footer nav {
      text-align: left; }
      .main-footer-wrap footer nav ul {
        padding: 0;
        list-style-type: none; }
        .main-footer-wrap footer nav ul h2 {
          font-family: 'Rozha One', serif;
          font-size: 1.75em; }
        .main-footer-wrap footer nav ul li a {
          font-family: 'Didact Gothic', sans-serif;
          color: white;
          text-decoration: none; }
          .main-footer-wrap footer nav ul li a:hover, .main-footer-wrap footer nav ul li a:focus {
            color: #323232; }
  @media screen and (min-width: 62rem) {
    .main-footer-wrap {
      padding: 30px; }
      .main-footer-wrap div {
        padding: 0; }
      .main-footer-wrap .social-icons {
        display: inline;
        margin-right: 15px; }
        .main-footer-wrap .social-icons a {
          font-size: 1.5em; }
      .main-footer-wrap .follow-us {
        margin: 0; } }

.subForm {
  text-align: center; }
  .subForm h2 {
    font-family: 'Rozha One', serif; }
  .subForm p {
    font-family: 'Didact Gothic', sans-serif;
    color: white; }
  .subForm input {
    height: 30px;
    border: none;
    padding: 0 15px; }
  .subForm label {
    font-family: 'Didact Gothic', sans-serif;
    background: #323232;
    font-size: 1em;
    color: white;
    height: 30px;
    padding: 2px 15px; }
  @media screen and (min-width: 62rem) {
    .subForm {
      text-align: left; }
      .subForm h2 {
        font-size: 1.75em; } }
