//font
@mixin content-text {
    font-family: 'Didact Gothic', sans-serif;
}

@mixin title {
    font-family: 'Rozha One', serif;
}

//color
$red: #ff4040;
$dark-red: #c04848;
$dark-grey: #323232;

.row {
    margin: 0;
}

//button
.button-white {
    border: solid 2px $dark-grey;
    background: white;
    padding: 5px 20px;
    @include content-text;
    font-size: 1em;
    color: $dark-grey;
    transition: all .3s ease;
    &:hover,
    &focus {
        color: white;
        border: solid 2px $red;
        background: $red;
    }
    @media screen and (min-width: 62rem) {
        font-size: 1.25em;
    }
}

.button-black {
    border: solid 2px $dark-grey;
    background: $dark-grey;
    padding: 5px 20px;
    @include content-text;
    font-size: 1em;
    color: white;
    transition: all .3s ease;
    &:hover,
    &focus {
        color: $dark-grey;
        border: solid 2px $dark-grey;
        background: white;
    }
    @media screen and (min-width: 62rem) {
        font-size: 1.25em;
    }
}

//hr
.global-hr {
    width: 90%;
    border-top: solid 1px $dark-grey;
    margin: 30px auto;
    @media screen and (min-width: 62rem) {
        margin-bottom: 20px;
    }
}

//center all
@mixin center-all {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}