.home-stories-wrap {
    padding: 60px 0 40px 0;
}

.story-upper {
    background: url("../images/story2.jpg") no-repeat right;
    background-size: contain;
    height: 200px;
    &::after {
        content: "";
        width: 300px;
        height: 10px;
        background: $red;
        display: block;
        position: absolute;
        bottom: -8px;
        right: 0;
        z-index: -1;
    }
    h2 {
        @include title;
        margin: 30px 0 0 0;
    }
    p {
        @include content-text;
        width: 200px;
        color: $dark-red;
    }
}

.story-lower {
    height: 200px;
    margin-bottom: 10px;
    z-index: 0;
    img {
        height: 200px;
        position: absolute;
        top: -20px;
        left: -20px;
        box-shadow: 0 10px 40px 0 rgba(0, 0, 0, .3);
    }
}