.get-involved-wrap {
    background: $red;
    padding: 45px 15px;
    div {
        padding: 5px;
    }
    h2 {
        @include title;
        font-size: 2em;
    }
    p {
        @include content-text;
        color: white;
        margin-bottom: 40px;
    }
    .involved-img {
        padding: 0;
        position: relative;
    }
    img {
        width: 100%;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
    @media screen and (min-width: 62rem) {
        h2 {
            font-size: 3em;
        }
        img {
            width: 120px;
        }
    }
}