.header-text {
    margin-bottom: 30px;
}

.text-section {
    padding: 0;
    h2 {
        @include title;
    }
    p {
        @include content-text;
        color: $dark-red;
    }
}

.img-section {
    padding: 0;
    position: relative;
    img {
        width: 180px;
        position: absolute;
        top: -60px;
        left: -50px;
        z-index: -1;
    }
}

.home-why-wrap {
    padding: 0;
}

.home-why-text {
    background: $red;
    text-align: right;
    padding: 15px;
    h2 {
        @include title;
    }
    p {
        @include content-text;
        color: white;
    }
    &::after {
        content: "";
        width: 100%;
        height: 100%;
        background: rgba(255, 64, 64, 0.3);
        top: 10px;
        left: -20px;
        display: block;
        position: absolute;
        z-index: -1;
        transition: all .3s ease;
    }
}

.home-why-image {
    img {
        width: 140px;
        position: absolute;
        top: -60px;
        z-index: 1;
    }
}