.get-involved-wrap {
    background: $red;
    padding: 45px 15px;
    div {
        padding: 5px;
    }
    h1 {
        @include title;
        font-size: 2em;
    }
    p {
        @include content-text;
        color: white;
        margin-bottom: 40px;
    }
    .involved-img {
        padding: 0;
    }
    img {
        width: 100%;
    }
}