.whydonate-header-hero {
    padding: 90px 0 60px 0;
    div:first-child {
        h1 {
            @include title;
            font-size: 2em;
        }
        p {
            @include content-text;
            font-size: 1em;
            color: $dark-red;
        }
    }
    div:last-child {
        img {
            width: 80%;
            margin: 0 auto;
            display: block;
        }
    }
    @media screen and (min-width: 62rem) {
        padding: 160px 0 80px 0;
        div:first-child {
            h1 {
                font-size: 3em;
            }
        }
        div:last-child {
            position: relative;
            img {
                width: 80%;
                @include center-all;
            }
        }
    }
    @media screen and (min-width: 75rem) {
        div:last-child {
            img {
                width: 50%;
            }
        }
    }
}